doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Weather App
    link(rel="stylesheet", href="/styles/style.css")
  body
    if weatherData
      h1 Weather in #{weatherData.name}
      p Temperature: #{Math.round(weatherData.main.temp - 273.15)}°C
      p Description: #{weatherData.weather[0].description}
    else
      h1 Weather App
      p Error fetching weather data.
